<div class="row">
    <div class="col-md-3 text-center">
        <img src="img/moataz.jpg" alt="avatar" class="img-responsive img-profile">
    </div>
    <div class="col-md-9">
        <div class="mini-desc">
            <h2 class="title">Hello</b></h2>
            <pre>{
  <span style="color: #800080;">"name"</span><span style="color: #ff6600;">:</span> <span style="color: #008000;">"Moataz Mohammady"</span><span style="color: #ff6600;">,</span>
  <span style="color: #800080;"> "job"</span><span style="color: #ff6600;">:</span> <span style="color: #008000;">"Web Developer"</span><span style="color: #ff6600;">,</span>
 <span style="color: #800080;"> "governorate"</span><span style="color: #ff6600;">:</span><span style="color: #008000;"> "Giza"</span><span style="color: #ff6600;">,</span>
  <span style="color: #800080;">"age"</span><span style="color: #ff6600;">:</span> <span style="color: #008000;">26</span><span style="color: #ff6600;">,</span>
  <span style="color: #800080;">"Skills"</span><span style="color: #ff6600;">:</span> <span style="color: #008000;">["HTML","CSS","javascript","jQuery","PHP","Laravel","Angularjs","Ruby on Rails"]</span><span style="color: #ff6600;">,
  </span><span style="color: #800080;">"preferred_environment"</span><span style="color: #ff6600;">:<span style="color: #008000;">"Linux"</span>,</span>
   <span style="color: #800080;">"searching_for_job"</span><span style="color: #ff6600;">:</span> <span style="color: #008000;">true</span><span style="color: #ff6600;">,
</span>   <span style="color: #800080;">"mobile"</span><span style="color: #ff6600;">:</span> 01150064746<span style="color: #ff6600;">,
</span>   <span style="color: #800080;">"bio"</span><span style="color: #ff6600;">:</span> <span style="color: #008000;">"I'm a web developer with 2&nbsp;years of experience in structuring, developing and implementing interactive websites. Innovative use of technology and SEO to drive traffic and engage users. Able to complete projects efficiently and satisfy customers with attractive, user-friendly websites."</span> }</pre>
            <img src="img/nilebits.png" alt="">
            <h1>It was pleasure working at Nilebits</h1>
        </div>
    </div>
</div>



